@import './partials/resets';
@import './partials/variables';
@import './partials/typography';
@import './partials/navbar';
@import './partials/home';
@import './partials/social';
@import './partials/about.module';
@import './partials/works';
@import './partials/blogs';
@import './partials/contact';
@import './partials/modal';


.App {
    display: grid;
    width: 100%;
    line-height: 1.5;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;

        .home-container{
            padding: 0;
            margin: 0;
            .home-container__info{
                width: 100%;
                padding: 0;
                .home-container__info__content{
                    padding: 0;
                    .home-container__info__title{
                        margin-top: 100px;
                        font-size: 1.6rem;
                        width: 50%;
                        border-radius: 5px;
                    }

                    .home-container__info__title__two{
                        font-size: 2.5rem;
                        // width: 50%;
                        // border-radius: 5px;
                    }

                    p{
                        font-size: 1.4rem;
                        font-family: $text-font-family;
                        color: $paragraph-text-color;
                        text-align: justify;
                    }
                }

                .home-container__info__image{
                    display: none;
                }

            }

        }

    }
}
