@import './partials/resets';
@import './partials/variables';
@import './partials/typography';
@import './partials/navbar';
@import './partials/home';
@import './partials/social';
@import './partials/about.module';
@import './partials/works';
@import './partials/blogs';
@import './partials/contact';
@import './partials/modal';


.App {
    display: grid;
    width: 100%;
    line-height: 1.5;


}
