@import './partials/resets';
@import './partials/variables';
@import './partials/typography';
@import './partials/navbar';
@import './partials/home';
@import './partials/social';
@import './partials/about.module';
@import './partials/works';
@import './partials/blogs';
@import './partials/contact';
@import './partials/modal';


.App {
    display: grid;
    width: 100%;
    line-height: 1.5;

    @media screen and (max-width: 912px) {
        grid-template-columns: 1fr;

        .home-container{
            padding: 0;
            margin: 0;
            .home-container__info{
                width: 100%;
                padding: 0;
                .home-container__info__content{
                    padding: 0;
                    .home-container__info__title{
                        margin-top: 100px;
                        font-size: 1.4rem;
                        width: 50%;
                        border-radius: 5px;
                    }

                    .home-container__info__title__two{
                        font-size: 2.5rem;
                    }

                    p{
                        font-size: 1.4rem;
                        font-family: $text-font-family;
                        color: $paragraph-text-color;
                        text-align: justify;
                    }
                }

                .home-container__info__image{
                    display: none;
                }

            }

        }

        .about{

            .about-container{
                width: 100%;
                flex-direction: column-reverse;
                margin: 0;
                padding: 0;
            }
        }

        .contact{
            width: 100%;

            .contact__left{
                width: 100%;
                padding: 0;

                .contact__form{
                    form{
                        width: 100%;
                    }
                }
            }

            .contact__right{
                display: none;
            }
        }

        .social{
            margin-left: 30px;
        }
    }
}
