.home-container{
  display: flex;
  height: 100vh;
  background-color: $hero-bg;
  // border: 1px solid green;
  padding: 20px;
  gap: 10px;

  .home-container__info{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding: 20px;
    border: 1px solid goldenrod;

    .home-container__info__box{
      display: flex;
      width: 90%;
      margin: 0 auto;
      padding: 10px;
      gap: 10px;

      .home-container__info__content, .home-container__info__image{
        border: 1px solid blue;
        padding: 20px;
        flex: 1;
      }

      .home-container__info__content{
        font-size: 1.5rem;
        font-family: $text-font-family;
        color: #fff;
        padding: 20px;

        .home-container__info__title{
          width: 25%;
          font-size: .8rem;
          font-family: $font-family-heading;
          font-weight: normal;
          background-color: $text-highlight-color;
          color: black;
          padding: 5px;
          text-align: center;
          border-radius: 3px;
        }

        .home-container__info__title__two{
          font-size: 2rem;
          font-family: $font-family-heading;
          font-weight: 500;
          padding: 5px;
          border-radius: 3px;
          display: flex;
          flex-direction: column;
          gap: 10px;
        }

        p {
          width: 65%;
          font-size: .9rem;
          font-family: $text-font-family;
          color: $paragraph-text-color;
          padding: 5px;
        }
      }
    }




  }
}