.navigation {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0;
  color: white;
  background-color: $hero-bg;
}

.brandName {
  font-size: 1.5rem;
  color: $gold-color;
  margin-left: 1rem;

  span {
    color: white;
  }
}

.navigationMenu {
  margin-left: auto;
}

.navigationMenu ul {
  display: flex;
  padding: 0;
}

.navigationMenu li {
  list-style: none;
  margin: 0 1rem;
}

.navigationMenu li a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: $gold-color;
  font-size: 1rem;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}


.nav-links{
  cursor: pointer;

  &.active{
    color: #65D493;
    border-bottom: 1px solid #65D493;
    transform: translateX(0);
  }
}


.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: $text-highlight-color;
  color: $gold-color;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}

.hamburger:hover {
  background-color: $text-highlight-color;
}

.navigationMenu li a:hover {
  color: $text-highlight-color;
}

@media screen and (max-width: 860px) {
  .hamburger {
    display: block;
  }

  .navigationMenu ul {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 77px);
    background-color: $text-highlight-color;
    border-top: 1px solid black;
    z-index: 1;
  }

  .navigationMenu.expanded ul {
    display: block;
  }

  .navigationMenu li {
    text-align: center;
    margin: 0;
  }

  .navigationMenu li a {
    color: white;
    width: 100%;
    padding: 1.5rem 0;
    font-size: 1.2rem;
  }

  .navigationMenu li a:hover {
    background-color: #eee;
  }
}
