@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


h1, h2, h3, h4, h5{
  font-family: $font-family-heading;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 1.5rem 0;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 1.5rem 0;
}

h3 {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 1.5rem 0;
}

h4 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 1.5rem 0;
}

p{
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0 0 1.5rem 0;
  font-family: $text-font-family;
}

li{
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0 0 1.5rem 0;
  font-family: $text-font-family;
}