$font-family-heading: 'Montserrat', sans-serif;
$text-font-family: 'Poppins', sans-serif;
$hero-bg: #2d2e32;
$text-highlight-color: #65d493;
$about-bg: #25262a;
$paragraph-text-color: #8d8f96;
$gold-color: #F2D49D;
